@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

@font-face {
  font-family: "Garamond Premier Pro Subhead";
  src: url("../assets/Garamond\ Premier\ Pro\ Subhead.otf") format("opentype");
}


* {
	background-color: #000000;
	font-family: "Hack", monospace;
	/* italic-font: "EB Garamond", serif; */
}
